ul.list-reset,
ol.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 0px;
    padding-left: 0;
    text-indent: 0;

    &::before {
      display: none;
    }
  }
}