<div class="currency-block">
  <div class="currency-block__list">
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/ETH.svg" alt="ETH" class="currency-block__item-img">
      <div class="currency-block__item-name">ETH</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/USDT.svg" alt="USDT" class="currency-block__item-img">
      <div class="currency-block__item-name">USDT</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/TON.svg" alt="TON" class="currency-block__item-img">
      <div class="currency-block__item-name">TON</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/BTC.svg" alt="BTC" class="currency-block__item-img">
      <div class="currency-block__item-name">BTC</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/TRX.svg" alt="TRX" class="currency-block__item-img">
      <div class="currency-block__item-name">TRX</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/LTC.svg" alt="LTC" class="currency-block__item-img">
      <div class="currency-block__item-name">LTC</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/USDC.svg" alt="USDC" class="currency-block__item-img">
      <div class="currency-block__item-name">USDC</div>
    </div>
    <div class="currency-block__item js-currency-item">
      <img src="assets/img/BNB.svg" alt="BNB" class="currency-block__item-img">
      <div class="currency-block__item-name">BNB</div>
    </div>
  </div>

  <div class="currency-block__content">
    <h3 class="text-themed">Accept a wide range of cryptocurrencies</h3>
    <p>Bill any supported cryptocurrencies with asset parameter in <a href="#">GetInvoice</a> method</p>
  </div>
</div>