<div class="exchange-block">
  <div class="exchange-block__animation-block">
    <div class="exchange-block__animation-block-wrapper">
      <div class="exchange-block__animation-block-list js-exchange-list">
        <div class="
          exchange-block__animation-block-list-item
          exchange-block__animation-block-list-item--usdt
          js-exchange-item
        ">
          <img src="assets/img/USDT-icon.svg" alt="USDT" class="exchange-block__animation-block-img" style="opacity: 0">
        </div>
        <div class="
          exchange-block__animation-block-list-item
          exchange-block__animation-block-list-item--btc
          js-exchange-item
        ">
          <img src="assets/img/BTC-icon.svg" alt="BTC" class="exchange-block__animation-block-img" style="opacity: 0">
        </div>
        <div class="
          exchange-block__animation-block-list-item
          exchange-block__animation-block-list-item--ton
          js-exchange-item
          js-exchange-item-active
        ">
          <img src="assets/img/TON-icon.svg" alt="TON" class="exchange-block__animation-block-img">
        </div>
      </div>

      <div class="exchange-block__animation-block-arrows"></div>

      <div class="exchange-block__animation-block-list-item exchange-block__animation-block-list-item--dollar">
        $
      </div>
    </div>
  </div>

  <div class="exchange-block__content">
    <h3 class="text-themed">Real-time exchange rates</h3>
    <p>Request up to date currency rate with the <a href="#">getExchangeRates</a> API method</p>
  </div>
</div>