<section class="demo-section section">
  <div class="container">
    <div class="demo-section__grid">
      <div class="demo-section__grid-item demo-section__grid-item--currency">
        <div class="demo-section__block">
          <include src="src/components/sections/demo/currency.html"></include>
        </div>
      </div>
      <div class="demo-section__grid-item demo-section__grid-item--one-click">
        <div class="demo-section__block">
          <include src="src/components/sections/demo/one-click.html"></include>
        </div>
      </div>
      <div class="demo-section__grid-item demo-section__grid-item--exchange">
        <div class="demo-section__block">
          <include src="src/components/sections/demo/exchange.html"></include>
        </div>
      </div>
      <div class="demo-section__grid-item demo-section__grid-item--statistics">
        <div class="demo-section__block">
          <include src="src/components/sections/demo/statistics.html"></include>
        </div>
      </div>
      <div class="demo-section__grid-item demo-section__grid-item--send-coin">
        <div class="demo-section__block demo-section__block--pt-0">
          <include src="src/components/sections/demo/send-coin.html"></include>
        </div>
      </div>
      <div class="demo-section__grid-item demo-section__grid-item--anonymous">
        <div class="demo-section__block">
          <include src="src/components/sections/demo/anonymous.html"></include>
        </div>
      </div>
    </div>
  </div>
</section>