<div class="send-coin-block">
  <div class="send-coin-block__animation-block">
    <div class="send-coin-block__messages">
      <div class="
        send-coin-block__message
        send-coin-block__message--1
        js-send-coin-item
      " style="
        z-index: 3;
        transform: translateY(0);
      "></div>
      <div class="
        send-coin-block__message
        send-coin-block__message--2
        js-send-coin-item
      " style="
        z-index: 2;
        transform: translateY(15%) scale(0.9);
        opacity: 0;
      "></div>
      <div class="
        send-coin-block__message
        send-coin-block__message--3
        js-send-coin-item
      " style="
        z-index: 1;
        transform: translateY(-15%) scale(0.9);
        opacity: 0.7;
      "></div>
    </div>
  </div>

  <div class="send-coin-block__content">
    <h3 class="text-themed">Send coins to users</h3>
    <p>Automate payouts to users with <a href="#">transfer</a> API method</p>
  </div>
</div>