<div class="statistics-block">
  <div class="statistics-block__animation-block">
    <div class="statistics-block__animation-block-wrapper">
      <div class="
        statistics-block__animation-block-img
        statistics-block__animation-block-img--1
        js-statistics-item
      " style="opacity: 1;"></div>
      <div class="
        statistics-block__animation-block-img
        statistics-block__animation-block-img--2
        js-statistics-item
      " style="opacity: 0;"></div>
      <div class="
        statistics-block__animation-block-img
        statistics-block__animation-block-img--3
        js-statistics-item
      " style="opacity: 0;"></div>
    </div>
  </div>

  <div class="statistics-block__content">
    <h3 class="text-themed">Payment statistics</h3>
    <p>Open <a href="#">@CryptoBot</a>, go to <a href="#">Crypto Pay</a> and <a href="#">My Apps</a>, App Name to get Statistics</p>
  </div>
</div>