<section class="api-block-section section">
  <div class="api-block-section__wrapper">
    <div class="container">
      <div class="api-block-section__banner">
        <div class="api-block-section__banner-content">
          <h2 class="api-block-section__banner-title">Crypto Pay API</h2>
          <p class="api-block-section__banner-text">Explore available methods and types and integrate them in any programming language.</p>
          <a href="#" class="btn btn--outline api-block-section__banner-btn">Open API Docs</a>
        </div>
      </div>

      <div class="api-block-section__content">
        <h2 class="text-themed">Join dev community</h2>
        <p class="api-block-section__text">Connect with bot developers and explore the possibilities our crypto payments service unlocks.</p>
        <div class="api-block-section__stack">
          <div class="api-block-section__stack-item">
            <div class="api-block-section__stack-icon api-block-section__stack-icon--js"></div>
            <div class="api-block-section__stack-text">crypto-pay-api</div>
          </div>
          <div class="api-block-section__stack-item">
            <div class="api-block-section__stack-icon api-block-section__stack-icon--net"></div>
            <div class="api-block-section__stack-text">CryptoPay</div>
          </div>
          <div class="api-block-section__stack-item">
            <div class="api-block-section__stack-icon api-block-section__stack-icon--php"></div>
            <div class="api-block-section__stack-text">crypto-pay-api</div>
          </div>
          <div class="api-block-section__stack-item">
            <div class="api-block-section__stack-icon api-block-section__stack-icon--python"></div>
            <div class="api-block-section__stack-text">aiocryptopay</div>
          </div>
          <div class="api-block-section__stack-item">
            <div class="api-block-section__stack-icon api-block-section__stack-icon--go"></div>
            <div class="api-block-section__stack-text">cryptobot-sdk-golang</div>
          </div>
        </div>
        <div class="api-block-section__btn">
          <a href="#" class="btn">Open Devs chat</a>
        </div>
      </div>
    </div>
  </div>
</section>