<section class="quick-start-section section bg-themed">
  <div class="container">
    <h2 class="quick-start-section__title text-themed">Quick&nbsp;start&nbsp;using <span class="text-primary">Crypto&nbsp;Pay</span></h2>

    <div class="quick-start-section__steps">
      <div class="quick-start-section__step quick-start-section__step--reverse-order">
        <div class="quick-start-section__img quick-start-section__img--1">
          <img src="assets/img/quick-start-1.svg" alt="Quick start step 1">
        </div>
        <div class="quick-start-section__step-content">
          <div class="quick-start-section__step-number">1</div>
          <div class="quick-start-section__step-text">
            <h3 class="quick-start-section__step-title text-themed">Authorizing your app</h3>
            <ol>
              <li>Open <a href="#">@CryptoBot</a></li>
              <li>Go to <a href="#">Crypto Pay</a></li>
              <li>Tap <a href="#">Create App</a></li>
              <li>Get <a href="#">API Token</a></li>
            </ol>
          </div>
        </div>
      </div>

      <div class="quick-start-section__step">
        <div class="quick-start-section__img quick-start-section__img--2">
          <img src="assets/img/quick-start-2.svg" alt="Quick start step 2">
        </div>
        <div class="quick-start-section__step-content">
          <div class="quick-start-section__step-number">2</div>
          <div class="quick-start-section__step-text">
            <h3 class="quick-start-section__step-title text-themed">Crypto Pay API Request</h3>
            <p class="quick-start-section__step-paragraph">Requests are only served over HTTPS To pass parameters use:</p>
            <ul>
              <li><a href="#">URL query string</a></li>
              <li><a href="#">application/json</a></li>
              <li><a href="#">application/x-www-form-urlencoded</a></li>
              <li><a href="#">multipart/form-data</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="quick-start-section__step quick-start-section__step--reverse-order">
        <div class="quick-start-section__img quick-start-section__img--3">
          <img src="assets/img/quick-start-3.svg" alt="Quick start step 3">
        </div>
        <div class="quick-start-section__step-content">
          <div class="quick-start-section__step-number">3</div>
          <div class="quick-start-section__step-text">
            <h3 class="quick-start-section__step-title text-themed">Getting updates</h3>
            <p class="quick-start-section__step-paragraph">There are two ways of receiving updates for your app:</p>
            <ul>
              <li><a href="#">getInvoices</a> method to get a list of created invoices.</li>
              <li><a href="#">Webhooks</a> to receive updates in realtime.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>