<section class="slider-section section section--dark">
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider-section__slider">
            <img src="assets/img/slider/slide-1.png" alt="Instant Auto Sales: Boost conversion" class="slider-section__img">
            <div class="slider-section__content">
              <h2><span class="text-primary">Instant Auto Sales:</span><br>Boost conversion</h2>
              <p class="slider-section__text">Immediately deliver digital product sand services to your users.</p>
              <a href="#" class="slider-section__btn btn btn--primary">Open API Docs</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-section__slider">
            <img src="assets/img/slider/slide-2.png" alt="Instant Auto Sales: Boost conversion" class="slider-section__img">
            <div class="slider-section__content">
              <h2><span class="text-primary">Channels integration:</span><br>Seamless access</h2>
              <p class="slider-section__text">Automatically unlock exclusive content to your users.</p>
              <a href="#" class="slider-section__btn btn btn--primary">Open API Docs</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slider-section__slider">
            <img src="assets/img/slider/slide-3.png" alt="Instant Auto Sales: Boost conversion" class="slider-section__img">
            <div class="slider-section__content">
              <h2><span class="text-primary">Endless customization:</span><br>with Webhooks</h2>
              <p class="slider-section__text">Receive successful payment notifications in real-time. Integrate to any scenario of your service.</p>
              <a href="#" class="slider-section__btn btn btn--primary">Open API Docs</a>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-section__navigation">
        <div class="slider-section__navigation-count js-slider-active-slide">01</div>
        <div class="swiper-pagination"></div>
        <div class="slider-section__navigation-count js-slider-total-slides">03</div>
      </div>
    </div>
  </div>
</section>