<section class="top-section section">
  <div class="container">
    <div class="top-section__row">
      <div class="top-section__content">
        <h1 class="text-themed">Crypto payments for <span class="text-primary">telegram bots</span></h1>
        <p class="top-section__text text-themed">Seamlessly accept crypto payments<br>in your Telegram bots and services.</p>
        <div class="top-section__btn">
          <a href="#" class="btn">Get started</a>
        </div>

        <div class="top-section__emoji">
          <div class="top-section__emoji-list-wrapper">
            <div class="top-section__emoji-list">
              <div class="top-section__emoji-list-item top-section__emoji-list-item--1"></div>
              <div class="top-section__emoji-list-item top-section__emoji-list-item--2"></div>
              <div class="top-section__emoji-list-item top-section__emoji-list-item--3"></div>
              <div class="top-section__emoji-list-item top-section__emoji-list-item--4"></div>
              <div class="top-section__emoji-list-item top-section__emoji-list-item--5"></div>
            </div>
          </div>
          <p class="text-themed">Popular bots use Crypto Pay</p>
        </div>
      </div>

      <div class="top-section__phone-image"></div>
    </div>
  </div>
</section>