<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <img src="assets/img/logo.svg" alt="logo">
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-list list-reset">
          <li class="footer__menu-item">
            <a href="#">Use cases</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">Features</a>
          </li>
          <li class="footer__menu-item">
            <a href="#">How to start</a>
          </li>
        </ul>
      </nav>
      <div class="footer__settings">
        <button class="btn btn--outline">Get started</button>
      </div>
    </div>
    <div class="footer__copyright">&copy;2023 Crypto Bot</div>
  </div>
</footer>