<header class="header">
  <div class="container header__wrapper">
    <div class="header__logo">
      <img src="assets/img/logo.svg" alt="logo">
    </div>
    <nav class="header__menu">
      <ul class="header__menu-list list-reset">
        <li class="header__menu-item">
          <a href="#">Use cases</a>
        </li>
        <li class="header__menu-item">
          <a href="#">Features</a>
        </li>
        <li class="header__menu-item">
          <a href="#">How to start</a>
        </li>
      </ul>
    </nav>
    <div class="header__settings">
      <button class="btn btn--clear header__settings-mode header__settings-mode--light js-switch-dark-mode-btn" aria-label="Switch Dark mode"></button>
      <a href="#" class="btn js-header-btn">Get started</a>
    </div>
  </div>
</header>