// Colors
$primary-color: #41A4DF;
$second-color: #297EE2;
$primary-light-color: #F7F9FB;
$white-color: #FFFFFF;
$black-color: #000000;
$dark-color: #0D0D12;
$dark-color-2: #18181D;
$dark-blue-color: #232328;
$dark-gradient-color: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
$deep-blue-color: #297EE2;

// Typography
$font-family: 'Inter', sans-serif;
$font-size-base: 20px;
$font-weight-base: 400;
$line-height-base: 1.2;

// Breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;